<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campgrounds</title>
  </head>
  <body>
    <h1>Welcome to Campgrounds</h1>
    <!-- iterate over campgrounds and list their titles with links to details -->
    <ul>
      <%for (let c of campgrounds) {%>
      <li><a href="/campgrounds/<%= c._id %>"> <%= c.title %> </a></li>
      <% }%>
    </ul>
  </body>
</html>
